aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.2
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
choicelib==0.1.4
colorama==0.4.3
contextvars==2.4
idna==2.10
immutables==0.14
loguru==0.5.3
lxml==4.5.2
multidict==4.7.6
peewee==3.13.3
psycopg2==2.8.6
pydantic==1.6.1
requests==2.24.0
soupsieve==2.0.1
typing-extensions==3.7.4.3
urllib3==1.25.10
vbml==0.5.93
vkbottle-types==0.1.24
watchgod==0.6
win32-setctime==1.0.2
yarl==1.6.0
vkbottle
